.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.caption, .content {
  flex: 1;
}

.caption {
  font-size: 14px;
}

.content:not(:has(div[class^=select])) {
  text-align: end;
}