.error {
  position: relative;
}

.error:has(> input[placeholder^=First])::after {
  content: 'Please fill in first name';
}

.error:has(> input[placeholder^=Last])::after {
  content: 'Please fill in last name';
}

.error:has(> input[type=email])::after {
  content: 'Please fill in email';
}

.error:has(> div[class^=select])::after {
  content: 'Please select product type';
  left: 0;
}
  
.error::after {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: red;
}

.error input, .error div div[class^=select__control] {
  background-color: #ffd4d4;
  border-color: red;
}

.error input::placeholder {
  color: red;
}