.App {
  padding-top: 100px;
}

.modal {
  width: 40vw;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  border: none;
}

.form {
  margin: 30px 30px 20px;
  background-color: #fff;
}

.form__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.form__closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: .3s;
}

.form__closeButton:hover {
  color: red;
}

.form__sendButton__wrapper {
  text-align: center;
}

.form__sendButton {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(50, 114, 235);
  cursor: pointer;
  transition: .3s
}

.form__sendButton:hover {
  opacity: .8;
}