* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #666;
}

input, textarea, button {
  border-radius: 3px;
  outline: none;
}

input, textarea {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #bbb;
}

input::placeholder, textarea::placeholder {
  color: #bbb;
}

input:focus, textarea:focus, button:focus {
  outline: 2px solid #89ccf3;
}

input, textarea {
  display: block;
  margin-bottom: 25px;
  font-size: 16px;
}

button {
  padding: 15px 25px;
  border: none;
}

div.select__control {
  font-size: 14px;
}

div.select__control:hover {
  border-color: #bbb;
}

.error .select__placeholder {
  color: red;
}

.error {
  position: relative;
}

.error:has(> input[placeholder^=First])::after {
  content: 'Please fill in first name';
}

.error:has(> input[placeholder^=Last])::after {
  content: 'Please fill in last name';
}

.error:has(> input[type=email])::after {
  content: 'Please fill in email';
}

.error__email:has(> input[type=email])::after {
  content: 'Please enter a valid email address';
}

.error:has(> div[class^=select])::after {
  content: 'Please select product type';
  left: 0;
}
  
.error::after {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: red;
}

.error input, .error div div[class^=select__control] {
  background-color: #ffd4d4; 
  border-color: red;
}

.error input::placeholder {
  color: red;
}

.filled {
  position: relative;
}

.filled:has(> input[placeholder^=First])::before {
  content: 'First Name *';
}

.filled:has(> input[placeholder^=Last])::before {
  content: 'Last Name *';
}

.filled:has(> input[type=email])::before {
  content: 'user@gmail.com *';
}

.filled:has(> textarea)::before {
  content: 'Type your comment';
}

.filled::before {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 10px;
  color: #bbb;
}

.filled.error__email::before {
  color: red;
}

.filled input, .filled textarea {
  padding: 25px 10px 5px;
}